.hero {
    margin-left: 10px;

    h2 {
        padding: 6px;
    }

    .hero-gallery {
        display: flex;
        flex-direction: row;

        li {
            display: flex;
            align-items: center;
        }

        img {
            padding: 5px;
            width: 300px;
            z-index: 1;
        }
    }
}