.film {
    margin-left: 10px;

    h2 {
        padding: 6px;
    }

    .film-gallery {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
  
        img {
            padding: 5px;
            width: 300px;
            z-index: 1;   
        }
    }
    img:hover {
        border: 3px solid crimson;
     }  
}