.film {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;

    h2 {
        padding: 6px;
    }

    .film-gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  
        img {
            padding: 5px;
            width: 300px;
            z-index: 1;   
        }
    }
    img:hover {
        border: 3px solid crimson;
     }  
}