nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
        margin-right: 10px;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
        color: crimson;
    }
    img {
        padding: 10px;
    }
    button {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
        padding: 2px;
        margin-right: 10px;
    }
    
}



