@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

*{
    margin: 0;
    padding: 0;

}

ul {
    list-style-type: none;
}

body{
    background-color: rgb(44, 40, 40);
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
}
